.login_form {
  max-width:25.6rem;
  margin:4.1rem auto 8.55rem;
}
.login_form h2 {
  font-size:1.3rem;
  letter-spacing:-0.24px;
  color:#424242;
  font-weight:var(--semibold);
}
.login {
  gap:1.2rem;
  grid-gap:1.2rem;
  margin-top:1.8rem;
}
.login .flex-direction {
  gap:0.5rem;
  grid-gap:0.5rem;
}
.login span {
  font-size:0.75rem;
  letter-spacing:0;
  color:#424242;
  font-weight:var(--semibold);
}
.login input {
  width:100%;
  height:2.4rem;
  border-radius:0.2rem;
  box-sizing:border-box;
  padding:0 0.9rem;
  border:1px solid #e4e4e4;
  font-size:0.75rem;
  letter-spacing:-0.35px;
  color:#222;
  font-weight:var(--medium);
}
.login input:focus  , .login input:valid{
  border-color:#4880ef;
}
.login input::placeholder {
  color:#d8d8d8;
  font-weight:var(--medium);
  font-family:"Pretendard Variable";
}
.btn_login {
  justify-content:center;
  cursor:pointer;
  width:100%;
  height:3.2rem;
  border-radius:0.2rem;
  background:linear-gradient(to right , #3b73e4 0% , #0559b5 100%);
  box-sizing:border-box;
  margin:0.4rem 0 1rem;
}
.btn_login span {
  font-size:0.85rem;
  letter-spacing:0;
  color:#fff;
  font-weight:var(--bold);
}
.login .links {
  gap:0.7rem;
  grid-gap:0.7rem;
}
.login .links a {
  font-size:0.75rem;
  letter-spacing:0;
  color:#424242;
  font-weight:var(--regular);
}
.login .links a span {
  font-weight:var(--semibold);
  text-decoration:underline;
}


@media screen and (max-width:501px){
  .wrap {display:flex;flex-direction:column;justify-content:space-between;}
  .contents_wrap .container {min-width:100%;max-width:100%;}
  .login_form {min-width:100%;margin:3.1rem 0;}
  .login_form h2 {font-size:1rem;letter-spacing:-0.18px;}
  .login {gap:1rem;grid-gap:1rem;}
  .login span {font-size:0.6rem;letter-spacing:0;}
  .login input {font-size:0.7rem;letter-spacing:-0.32px;}
  .login input::placeholder {font-size:0.7rem;}
  .btn_login {margin-bottom:0.6rem;}
  .btn_login span {font-size:0.7rem;letter-spacing:0;}
  .login .links a {font-size:0.6rem;letter-spacing:0;}
}














/*  */
