.flex.baseline {
  align-items:flex-start;
}
.banner {
  position:relative;
  height:15.5rem;
  background:url(../images/banner/banner_inquiry.png)no-repeat center center / cover;
}
.banner::before {
  content:'';
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:rgba(2,8,19,0.9);
  opacity:.88;
}
.banner .flex-direction {
  position:relative;
  width:100%;
  height:100%;
  align-items:center;
  justify-content:center;
  gap:1.2rem;
  grid-gap:1.2rem;
}
.banner .flex-direction h2 {
  font-size:1.5rem;
  letter-spacing:-0.27px;
  color:var(--base-white);
  font-weight:var(--bold);
}
.banner .flex-direction span {
  font-size:0.85rem;
  letter-spacing:0;
  color:var(--base-white);
  font-weight:var(--medium);
}
.contents_wrap > .container {
  margin-top:3.2rem;
  margin-bottom:8rem;
}
.title {
  padding-bottom:1.55rem;
  border-bottom:1px solid #e8e8ea;
  justify-content:space-between;
}
.title > h2 {
  font-size:1.3rem;
  letter-spacing:-0.24px;
  color:#212121;
  font-weight:var(--bold);
  line-height:1;
}
.title .flex {
  gap:0.4rem;
  grid-gap:0.4rem;
}
.title .flex span {
  font-size:0.65rem;
  letter-spacing:-0.12px;
  color:#878890;
  font-weight:var(--medium);
}
.title .flex span.on {
  color:#333;
}
.title .flex img {
  width:0.3rem;
  height:0.5rem;
}
select {
  width:100%;
  max-width:10rem;
  height:2.4rem;
  border-radius:0.2rem;
  font-size:0.75rem;
  letter-spacing:-0.35px;
  color:#888b8e;
  padding:0.7rem 0.9rem;
  background: url(../images/icons/ic_down_arrow.png)no-repeat 93% center / 0.4rem 0.25rem,#fff;
  border-radius:0.2rem;
  border:1px solid #d0d0d0;
  box-sizing:border-box;
}
.write {
  padding:0 3rem;
  margin-top:1.9rem;
}
.write_title {
  justify-content:space-between;
  margin-bottom:0.9rem;
}
.write_title > span {
  font-size:0.7rem;
  letter-spacing:-0.13px;
  color:#424242;
  font-weight:var(--medium);
}
.write_title > .flex {
  gap:0.5rem;
  grid-gap:0.5rem;
}
.write_title > .flex img {
  width:1rem;
  height:1rem;
}
.write_title > .flex h6 {
  font-size:1.1rem;
  line-height:1.5rem;
  letter-spacing:-0.2px;
  color:#424242;
  font-weight:var(--bold);
}
.write_form {
  border-top:1px solid #4e4e4e;
  border-bottom:1px solid #e8e8ea;
}
.write_form > .flex {
  border-bottom:1px solid #e8e8ea;
  background:#f9f9f9;
}
.write_form .form_hd {
  width:100%;
  max-width:8.9rem;
  padding:1.1rem 1rem;
}
.write_form .form_hd h6 {
  font-size:0.75rem;
  letter-spacing:0;
  color:#757575;
  font-weight:var(--semibold);
}
.write_form .form_con {
  width:100%;
  box-sizing:border-box;
  padding:1.1rem 0 1.1rem 1.5rem;
  background:#fff;
}
.write_form .form_con .default_name {
  font-size:0.75rem;
  letter-spacing:-0.35px;
  color:#222;
  font-weight:var(--medium);
}
.write_form .form_con select {
  max-width:100%;
  height:2.1rem;
  background: url(../images/icons/ic_down_arrow.png)no-repeat 98% center / 0.4rem 0.25rem,#f5f6f8;
  font-size:0.75rem;
  letter-spacing:-0.35px;
  padding:0.6rem 0.9rem;
}
.write_form .form_con input {
  width:100%;
  height:2.1rem;
  border-radius:0.2rem;
  border:1px solid #bdbdc1;
  background:#fff;
  padding:0 0.9rem;
  box-sizing:border-box;
  font-size:0.75rem;
  letter-spacing:-0.35px;
  color:#222;
  font-weight:var(--medium);
}
.write_form .form_con.sht input {
  width:12.8rem;
}
.write_form .form_con.phone {
  gap:0.3rem;
  grid-gap:0.3rem;
}
.write_form .form_con.phone input {
  width:3.6rem;
}
.write_form .form_con.phone .linebar {
  width:0.4rem;
  height:1px;
  background:#979797;
}
.write_form .form_con textarea {
  resize:none;
  width:100%;
  height:12rem;
  border-radius:0.2rem;
  border:1px solid #bdbdc1;
  background:#fff;
  padding:0.8rem 0.9rem;
  box-sizing:border-box;
  font-size:0.75rem;
  letter-spacing:-0.35px;
  color:#222;
  font-weight:var(--medium);
  font-family:"Pretendard Variable";
}
.write .wrtiebtns {
  gap:0.7rem;
  grid-gap:0.7rem;
  margin-top:1.1rem;
  justify-content:flex-end;
}
.write .wrtiebtns .btn {
  justify-content:center;
  cursor:pointer;
  width:6.6rem;
  height:2.8rem;
  border-radius:0.2rem;
  box-sizing:border-box;
}
.write .wrtiebtns .btn span {
  font-size:0.85rem;
  letter-spacing:0;
  font-weight:var(--bold);
}
.write .wrtiebtns .btn_writecancel {
  border:1px solid #666;
}
.write .wrtiebtns .btn_writecancel span {
  color:#666;
}
.write .wrtiebtns .btn_objection {
  background:linear-gradient(to right , #3b73e4 0% , #0559b5 100%);
}
.write .wrtiebtns .btn_objection {
  color:#fff;
}
.checkbox input[type="checkbox"] {
  display:none;
}
.checkbox input ~ label {
  display:inline-block;
  width:1rem;
  height:1rem;
  background:url(../images/btns/btn_check_off.png)no-repeat center / cover;
  cursor:pointer;
  white-space:nowrap;
  font-size:0.75rem;
  letter-spacing:0;
  color:#424242;
  font-weight:var(--semibold);
  text-indent:1.4rem;
}
.checkbox input:checked ~ label {
  background:url(../images/btns/btn_check_on.png)no-repeat center / cover;
}
.check {
  gap:0.5rem;
  grid-gap:0.5rem;
  padding:1rem;
  background:#f9f9f9;
  border-bottom:1px solid #4e4e4e;
  margin-top:-1px;
}
.check > .flex-direction {
  gap:0.3rem;
  grid-gap:0.3rem;
}
.check > .flex-direction span {
  font-size:0.7rem;
  letter-spacing:0;
  color:#7d7d7d;
  font-weight:var(--semibold);
  text-indent:1.4rem;
}
.check > .flex-direction span br {
  display:none;
}
.check > .flex-direction span span {
  display:none;
}
.table_view.objection_detail_view {
  border-top:none;
}
.objection_detail_view .flex.headline {
  border-top:1px solid #4e4e4e;
}
.objection_detail_view .flex  {
  background:#f9f9f9;
}
.objection_detail_view .write_title {
  background:#fff;
}
.objection_detail_view .write_title .flex {
  background:#fff;
}
.objection_detail_view .flex .view_hd {
  display:flex;
  align-items:center;
  width: 100%;
  max-width: 8.9rem;
  padding: 1.1rem 1rem;
  min-height:3.45rem;
  box-sizing:border-box;
}
.objection_detail_view .flex.baseline {
  border-bottom:1px solid #e3e3e3;
}
.objection_detail_view .flex.baseline .view_hd{
  border-bottom:none;
}
.objection_detail_view .flex.baseline .view_con{
  border-bottom:none;
}
.objection_detail_view .flex .view_con {
  width: 100%;
  box-sizing: border-box;
  padding: 1.1rem 0 1.1rem 1.5rem;
  background: #fff;
}
.objection_detail_view .flex .view_hd h6 {
  font-size: 0.75rem;
  letter-spacing: 0;
  color: #757575;
  font-weight: var(--semibold);
}
.objection_detail_view .flex .view_con span {
  font-size: 0.75rem;
  letter-spacing: -0.35px;
  color: #222;
  font-weight: var(--medium);
}
.objection_detail_view .flex .view_con textarea {
  resize: none;
  width: 100%;
  height: 12rem;
  border-radius: 0.2rem;
  border: 1px solid #bdbdc1;
  background: #fff;
  padding: 0.8rem 0.9rem;
  box-sizing: border-box;
  font-size: 0.75rem;
  letter-spacing: -0.35px;
  color: #222;
  font-weight: var(--medium);
  font-family: "Pretendard Variable";
}
@media screen and (max-width:501px){
  .banner {height:8.5rem;}
  .banner .flex-direction {gap:0.6rem;grid-gap:0.6rem;}
  .banner .flex-direction h2 {font-size:1rem;}
  .banner .flex-direction span {font-size:0.65rem;font-weight:var(--medium);}
  .contents_wrap > .container {max-width:100%;min-width:100%;margin-top:1.6rem;min-height:100vh;box-sizing:border-box;}
  .title {padding-bottom:0.9rem;}
  .title .flex {display:none;}
  .title > h2 {font-size:0.9rem;}
  .list {padding:0;margin-top:1.4rem;}
  .searchbox .btn_search {display:none;}
  .searchbox {gap:0.3rem;grid-gap:0.3rem;}
  select {max-width:4.4rem;height:2.2rem;padding:0.7rem 0.5rem;font-size:0.65rem;letter-spacing:-0.3px;font-weight:var(--medium);background-position:89%;}
  .searchbox input {height:2.2rem;font-size:0.65rem;padding:0.7rem 0.5rem;}
  .table table thead {display:none;}
  .table table tbody {display:flex;flex-direction:column;}
  .table table tbody tr:not(:last-child) {margin-bottom:0.95rem;}
  .table table tbody tr td {font-size:0.6rem;padding:0.3rem 0;}
  .table table tbody tr td.notitle {font-size:0.75rem;letter-spacing:-0.23px;line-height:1.05rem;}
  .table table tbody tr td:nth-child(1) {display:none;}
  .table table tbody tr td:nth-child(2) {width:100%;border:none;}
  .table table tbody tr td:nth-child(3) {width:100%;padding:0;border:none;}
  .table table tbody tr td:nth-child(4) {padding-right:0.6rem;}
  .table table tbody tr td:nth-child(6) {display:none;}
  .table table tbody tr td:nth-child(7) {width:100%;text-align:right;}
  .table table tbody tr td:nth-child(4) , .table table tbody tr td:nth-child(5) {white-space:nowrap;}
  .table table tbody tr td:nth-child(4) , .table table tbody tr td:nth-child(5) , .table table tbody tr td:nth-child(7) {padding-bottom:0.95rem;}
  .table .btn_write {width:4.9rem;height:2.1rem;margin-top:0.75rem;}
  .table .btn_write span {font-size:0.65rem;letter-spacing:-0.3px;}
  .table .pager {gap:0.9rem;grid-gap:0.9rem;}
  .table .pager .btn img {width:1.5rem;height:1.5rem;}
  .table .pager .pagernum span {font-size:0.65rem;letter-spacing:-0.01px;}
  .write_view {padding:0;margin-top:1.4rem;}
  .write {padding:0;margin-top:1.4rem;}
  .write_correction {padding:0;margin-top:1.4rem;}
  .write_title > .flex {gap:0.3rem;grid-gap:0.3rem;}
  .write_title > .flex h6 img {width:0.9rem;height:0.9rem;}
  .write_title > .flex h6 {font-size:0.8rem;letter-spacing:-0.15px;}
  .write_title > span {font-size:0.55rem;letter-spacing:-0.1px;color:#acadb3;font-weight:var(--medium);}
  .write_form {padding:1.1rem 0;}
  .write_form > .flex {flex-direction:column;align-items:flex-start;background:#fff;padding-bottom:1.05rem;}
  .write_form > .flex:last-child {border:none;padding:0;}
  .write_form > .flex:not(:last-child) {margin-bottom:1.05rem;}
  .write_form .form_hd , .write_form .form_con {padding:0;}
  .write_form .form_hd {padding-bottom:0.4rem;}
  .write_form .form_hd h6 , .write_form .form_con .default_name {font-size:0.65rem;}
  .write_form .form_con select {height:2.2rem;padding:0.7rem;font-size:0.65rem;letter-spacing:-0.3px;}
  .write_form .form_con input {height:2.2rem;font-size:0.65rem;padding:0.7rem;}
  .write_form .form_con textarea {padding:0.7rem;height:7.4rem;font-size:0.65rem;}
  .write .wrtiebtns {gap:0.4rem;grid-gap:0.4rem;}
  .write .wrtiebtns .btn {width:4.9rem;height:2.1rem;}
  .write .wrtiebtns .btn span {font-size:0.65rem;}
  .write_correction .wrtiebtns {gap:0.4rem;grid-gap:0.4rem;}
  .write_correction .wrtiebtns .btn {width:4.9rem;height:2.1rem;}
  .write_correction .wrtiebtns .btn span {font-size:0.65rem;}
  .write_view .form_con span {font-size:0.65rem;font-weight:var(--regular);}
  .write_view .wrtiebtns .btn {width:4.9rem;height:2.1rem;}
  .write_view .wrtiebtns .btn span {font-size:0.65rem;}
  .write_form .form_con.sht input {width:100%;}
  .write_form .form_con.phone input {width:100%;}
  .checkbox input ~ label {font-size:0.7rem;width:0.8rem;height:0.8rem;text-indent:1rem;}
  .check > .flex-direction span {font-size:0.6rem;text-indent:1rem;}
  .check > .flex-direction span br {display:block;}
  .check > .flex-direction span span {display:inline;}
}








































/*  */
